<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Final Review</title>
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
  <header class="header">
    <img src="./assets/images/desert.jpg" alt="" class="img">
    <h1>El blog de Steve</h1>

  </header>

  <main class="main">
    <article>
      <h2>Dummy Post</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quo saepe sed corrupti totam nobis voluptatem quae! Ullam optio recusandae sed voluptatem consequatur cum accusamus nemo. Labore excepturi maxime minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quo saepe sed corrupti totam nobis voluptatem quae! Ullam optio recusandae sed voluptatem consequatur cum accusamus nemo. Labore excepturi maxime minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quo saepe sed corrupti totam nobis voluptatem quae! Ullam optio recusandae sed voluptatem consequatur cum accusamus nemo. Labore excepturi maxime minima.
      </p>
    </article>
  </main>

  <aside class="main">
    <section class="author-info">
      <img src="./assets/images/desert.jpg" alt="Steve images" class="">
      <article>
      <h2>Steve Ballmer</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quo saepe sed corrupti totam nobis voluptatem quae! Ullam optio recusandae sed voluptatem consequatur cum accusamus nemo. Labore excepturi maxime minima.
        </p>
      </article>
    </section>
    <section class="links-groups">
      <nav>
        <ul>
          <li><a href="#">Seccion 1</a></li>
          <li><a href="#">Seccion 2</a></li>
          <li><a href="#">Seccion 3</a></li>
        </ul>
      </nav>
     <div>
        <nav>
            <ul>
              <li><a href="#">Categoria 1</a></li>
              <li><a href="#">Categoria 2</a></li>
              <li><a href="#">Categoria 3</a></li>
            </ul>
          </nav>
     </div>
    </section>

  </aside>
  <footer class="footer">
    <span>2019 EL blog de Steve</span>
  </footer>
</body>
</html>